# 本文件用于在不同的编辑器中统一代码风格
# 请为你的编辑器安装 EditorConfig 插件
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,styl,html,json}]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false
