@require 'layout'

.item-container
    margin: 10px _ 15px
    .title
        display: block
        font-size: rem(14)
        margin: 0
        background: #f7f7f7
        padding: _ 10px
        line-height: 2em
        text-decoration: none
        color: #007aff
        .icon-tag
            font-size: rem(12)
            color: lighten(@color, 30%)
    .content
        font-size: rem(14)
        padding: _ 10px
        p
            margin: .5em _
