<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="index.css">
        <title>rider</title>
    </head>
    <body>
        <header class="appbar">
            <h1 class="title logo">rider</h1>
        </header>
        <div class="item-container">
            <a class="title" href="/easing">
                <i class="icon-tag"></i> easing
            </a>
            <div class="content">
                <p>缓动函数指定动画效果在执行时的速度，使其看起来更加真实。该扩展基于 easings.net 提供的数据实现。</p>
            </div>
        </div>
        <div class="item-container">
            <a class="title" href="/normalize">
                <i class="icon-tag"></i> normalize
            </a>
            <div class="content">
                <p>基于 normalize.css，用来归一化不同浏览器下的页面样式。</p>
            </div>
        </div>
        <div class="item-container">
            <a class="title" href="/reset">
                <i class="icon-tag"></i> reset
            </a>
            <div class="content">
                <p>基于 Eric Meyer's reset 2.0。在整站中推荐使用 normalize 来初始化样式， reset 仅建议在第三方页面局部使用。</p>
            </div>
        </div>
    </body>
</html>
