<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="reset.css">
        <title>reset</title>
    </head>
    <body>
        <header class="appbar">
            <h1 class="title">reset</h1>
            <a class="prev" href="/">back</a>
        </header>
        <div class="container">
            
        </div>
    </body>
</html>
