// root
animate('flash')

// mixin
.test-1
    animate('bounce')

// same animate name
.test-2
    animate('bounce')

// with duration argument
.test-3
    animate('bounceIn', 2s)

// with duration & fill-mode arguments
.test-4
    animate('bounceIn', 0.5s, 'forwards')
