@media (min-width: 401px) and (max-width: 800px) {
  .test-8 {
    foo: bar;
  }
}
@media (max-width: 1050px) {
  .test-9 {
    foo: bar;
  }
}
@media (min-width: 801px) and (max-width: 1050px) {
  .test-10 {
    foo: bar;
  }
}
@media (max-width: 800px) {
  .test-11 {
    foo: bar;
  }
}
@media (min-width: 801px) {
  .test-12 {
    foo: bar;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .test-17 {
    foo: bar;
  }
}
@media (min-width: 200px) and (max-width: 900px) {
  .test-18 {
    foo: bar;
  }
}
@media (min-width: 40em) {
  .test-19 {
    foo: bar;
  }
}
@media (max-width: 400px) {
  .test-21 {
    display: block;
  }
}
