.test-ease {
  transition: all 500ms ease;
}
.test-ease-in {
  transition: all 500ms ease-in;
}
.test-ease-out {
  transition: all 500ms ease-out;
}
.test-ease-in-out {
  transition: all 500ms ease-in-out;
}
.test-ease-in-sine {
  transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.test-ease-out-sine {
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.test-ease-in-out-sine {
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.test-ease-in-quad {
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.test-ease-out-quad {
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.test-ease-in-out-quad {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.test-ease-in-cubic {
  transition: all 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.test-ease-out-cubic {
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.test-ease-in-out-cubic {
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.test-ease-in-quart {
  transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.test-ease-out-quart {
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.test-ease-in-out-quart {
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.test-ease-in-quint {
  transition: all 500ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.test-ease-out-quint {
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.test-ease-in-out-quint {
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
}
.test-ease-in-expo {
  transition: all 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.test-ease-out-expo {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.test-ease-in-out-expo {
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}
.test-ease-in-circ {
  transition: all 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.test-ease-out-circ {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.test-ease-in-out-circ {
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.test-ease-in-back {
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.test-ease-out-back {
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.test-ease-in-out-back {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
