.test-ease
    transition: all 500ms easing()
.test-ease-in
    transition: all 500ms easing('in')
.test-ease-out
    transition: all 500ms easing('out')
.test-ease-in-out
    transition: all 500ms easing('in-out')
.test-ease-in-sine
    transition: all 500ms easing('in-sine')
.test-ease-out-sine
    transition: all 500ms easing('out-sine')
.test-ease-in-out-sine
    transition: all 500ms easing('in-out-sine')
