.test-ease
    transition: all 500ms easing()
.test-ease-in
    transition: all 500ms easing('in')
.test-ease-out
    transition: all 500ms easing('out')
.test-ease-in-out
    transition: all 500ms easing('in-out')
.test-ease-in-sine
    transition: all 500ms easing('in-sine')
.test-ease-out-sine
    transition: all 500ms easing('out-sine')
.test-ease-in-out-sine
    transition: all 500ms easing('in-out-sine')
.test-ease-in-quad
    transition: all 500ms easing('in-quad')
.test-ease-out-quad
    transition: all 500ms easing('out-quad')
.test-ease-in-out-quad
    transition: all 500ms easing('in-out-quad')
.test-ease-in-cubic
    transition: all 500ms easing('in-cubic')
.test-ease-out-cubic
    transition: all 500ms easing('out-cubic')
.test-ease-in-out-cubic
    transition: all 500ms easing('in-out-cubic')
.test-ease-in-quart
    transition: all 500ms easing('in-quart')
.test-ease-out-quart
    transition: all 500ms easing('out-quart')
.test-ease-in-out-quart
    transition: all 500ms easing('in-out-quart')
.test-ease-in-quint
    transition: all 500ms easing('in-quint')
.test-ease-out-quint
    transition: all 500ms easing('out-quint')
.test-ease-in-out-quint
    transition: all 500ms easing('in-out-quint')
.test-ease-in-expo
    transition: all 500ms easing('in-expo')
.test-ease-out-expo
    transition: all 500ms easing('out-expo')
.test-ease-in-out-expo
    transition: all 500ms easing('in-out-expo')
.test-ease-in-circ
    transition: all 500ms easing('in-circ')
.test-ease-out-circ
    transition: all 500ms easing('out-circ')
.test-ease-in-out-circ
    transition: all 500ms easing('in-out-circ')
.test-ease-in-back
    transition: all 500ms easing('in-back')
.test-ease-out-back
    transition: all 500ms easing('out-back')
.test-ease-in-out-back
    transition: all 500ms easing('in-out-back')
