.bg-external-link-1 {
  background: url("http://www.baidu.com/img/bdlogo.gif") no-repeat;
}
.bg-external-link-2 {
  background: url("http://www.baidu.com/img/bdlogo.gif") no-repeat;
  background-size: 100px auto;
}
.bg-external-link-3 {
  background: url("http://www.baidu.com/img/bdlogo.gif") no-repeat;
  background-size: 100px 50px;
}
.bg-local-image-1 {
  background: url("img/logo.png") no-repeat;
  background-size: 75px 44px;
}
.bg-local-image-2 {
  background: url("img/logo.png") no-repeat;
  background-size: 100px auto;
}
.bg-local-image-3 {
  background: url("img/logo.png") no-repeat;
  background-size: 100px 50px;
}
.bg-local-image-4 {
  background: url("img/logo.png") no-repeat;
  background-size: 150px 88px;
}
.bg-local-image-5 {
  background: url("img/logo.png") no-repeat;
  background-size: contain;
}
.bg-local-image-not-exist {
  background: url("img/not-exist.png") no-repeat;
}
.ir-external-link-1 {
  background: url("http://www.baidu.com/img/bdlogo.gif") no-repeat;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-1 {
  background: url("img/logo.png") no-repeat;
  background-size: 75px 44px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-2 {
  background: url("img/logo.png") no-repeat;
  background-size: 75px 44px;
  background-position: -10px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-3 {
  background: url("img/logo.png") no-repeat;
  background-size: 75px 44px;
  background-position: -10px -20px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-4 {
  background: url("img/logo.png") no-repeat;
  background-size: 75px 44px;
  background-position: center;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-5 {
  background: url("img/logo.png") no-repeat;
  background-size: 100px auto;
  background-position: -10px -20px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-6 {
  background: url("img/logo.png") no-repeat;
  background-size: 100px 50px;
  background-position: -10px -20px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-7 {
  background: url("img/logo.png") no-repeat;
  background-size: 150px 88px;
  background-position: -10px -20px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.ir-local-image-not-exist {
  background: url("img/not-exist.png") no-repeat;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}