.bg-1
    bg: 'img/logo.png'
.bg-2
    bg: 'img/rider.png'
.bg-3
    bg: 'img/rider.png', 20px, 30px
.bg-4
    bg: 'img/rider.png', 20px

.ir-1
    ir: 'img/rider.png'
.ir-2
    ir: 'img/rider.png', -10px, -20px
.ir-3
    ir: 'img/rider.png', null, -20px
.ir-4
    ir: 'img/rider.png', -30px
.ir-5
    ir: 'img/rider.png', 0, -30px, 100px, 200px
.ir-6
    ir: 'img/rider.png', 0, 0, 100px, 200px

.bg2x-1
    bg2x: 'img/logo.png'
.bg2x-2
    bg2x: 'img/logo.png', 10px
.bg2x-3
    bg2x: 'img/logo.png', 10px, 5px
.bg2x-4
    bg2x: 'img/rider@2x.png'

.bg3x-1
    bg3x: 'img/logo.png'

.bg-dppx-1
    bg-dppx: 2 'img/logo.png'
.bg-dppx-2
    bg-dppx: 4 'img/logo.png'
