.bg-1 {
  background-image: url("../../test/cases/img/logo.png");
  background-size: 150px 88px;
}
.bg-2 {
  background-image: url("../../test/cases/img/rider.png");
  background-size: 136px 136px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .bg-2 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.bg-3 {
  background-image: url("../../test/cases/img/rider.png");
  background-size: 20px 30px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .bg-3 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.bg-4 {
  background-image: url("../../test/cases/img/rider.png");
  background-size: 20px 136px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .bg-4 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.ir-1 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-image: url("../../test/cases/img/rider.png");
  background-size: 136px 136px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ir-1 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.ir-2 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-position: -10px -20px;
  background-image: url("../../test/cases/img/rider.png");
  background-size: 136px 136px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ir-2 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.ir-3 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-position-y: -20px;
  background-image: url("../../test/cases/img/rider.png");
  background-size: 136px 136px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ir-3 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.ir-4 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-position-x: -30px;
  background-image: url("../../test/cases/img/rider.png");
  background-size: 136px 136px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ir-4 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
.ir-5 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-position: 0 -30px;
  background-image: url("../../test/cases/img/rider.png");
  background-size: 100px 200px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .ir-5 {
    background-image: url("../../test/cases/img/rider@2x.png");
  }
}
