.bg-1
    bg: '../../test/cases/img/logo.png'
.bg-2
    bg: '../../test/cases/img/rider.png'
.bg-3
    bg: '../../test/cases/img/rider.png', 20px, 30px
.bg-4
    bg: '../../test/cases/img/rider.png', 20px

.ir-1
    ir: '../../test/cases/img/rider.png'
.ir-2
    ir: '../../test/cases/img/rider.png', -10px, -20px
.ir-3
    ir: '../../test/cases/img/rider.png', null, -20px
.ir-4
    ir: '../../test/cases/img/rider.png', -30px
.ir-5
    ir: '../../test/cases/img/rider.png', 0, -30px, 100px, 200px
.ir-6
    ir: '../../test/cases/img/rider.png', 0, 0, 100px, 200px
