// square
.test-square-1
    size: 20px

// square without unit
.test-square-2
    size: 50

// square with rem
.test-square-3
    size: rem(160)

// rectangular
.test-rect-1
    size: 100px 30px

// rectangular without unit
.test-rect-2
    size: 200 100

// rectangular with rem
.test-rect-3
    size: rem(320) rem(160)

// triangle
.test-triangle-1
    triangle()
.test-triangle-2
    triangle: top 5px #369
.test-triangle-3
    triangle: bottom 5px #369
.test-triangle-4
    triangle: left 5px #369
.test-triangle-5
    triangle: right 5px #369

// circle
.test-circle-1
    circle: 20px
.test-circle-2
    circle: 20px 40px
.test-circle-3
    circle: 5rem 3rem
