// hide text
.test-hide-text
    hide-text()

// ellipsis
.test-ellipsis-1
    ellipsis()
.test-ellipsis-2
    ellipsis(1)
.test-ellipsis-3
    ellipsis(2)

// clearfix
.test-clearfix
    clearfix()

// font-face: found
font-face('rider-icon', 'font/rider-icon', 700)
