.test-hide-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.test-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.test-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.test-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.test-clearfix:after,
.test-clearfix:before {
  content: ' ';
  display: table;
}
.test-clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'rider-icon';
  src: url("../../demo/font/rider-icon.woff") format('woff'), url("../../demo/font/rider-icon.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
