// hide text
.test-hide-text
    hide-text()

// ellipsis
.test-ellipsis-1
    ellipsis()
.test-ellipsis-2
    ellipsis(1)
.test-ellipsis-3
    ellipsis(2)

// clearfix
.test-clearfix
    clearfix()

// font-face($font-family, $font-path, $version-suffix = '')

// no suffix
font-face('rider-icon', 'font/rider-icon')

// with suffix
font-face('rider-icon', 'font/rider-icon', '88')