// 动画
//
// @author  firede(firede@firede.us)
// @desc    ported from Animate.css v3.2.6
// @see     http://daneden.github.io/animate.css


animate($name, $duration = 1s, $fill-mode = both)
    /
        @require pathjoin('animate', $name)

    if mixin != 'root'
        $fill-mode = unquote($fill-mode) if typeof($fill-mode) == 'string'
        $name = unquote($name) if typeof($name) == 'string'

        animation-name: $name
        animation-duration: $duration
        animation-fill-mode: $fill-mode

        // 处理特殊动画
        if $name == bounce
            transform-origin: center bottom
        if $anme == flip
            backface-visibility: visible
        if $name in (flipInX flipInY flipOutX flipOutY)
            backface-visibility: visible !important
        if $name == lightSpeedIn
            animation-timing-function: ease-out
        if $name == lightSpeedOut
            animation-timing-function: ease-in
        if $name == swing
            transform-origin: top center
