// 样式初始化
//
// @author  firede(firede@firede.us)


@require 'setting'

// reset font
reset-font()
    font-weight: inherit
    font-style: inherit
    font-family: inherit
    font-size: 100%
    vertical-align: baseline


// reset box model
// about `outline`: for accessibility, keep it.
reset-box-model()
    margin: 0
    padding: 0
    border: 0


// rest list
reset-list()
    list-style: none
    li
        padding: 0
        margin: 0


// reset-table
// `border-spacing` is unnecessary when `collapse`, so I removed it.
reset-table()
    border-collapse: collapse
    vertical-align: middle


// reset table cell
reset-table-cell()
    text-align: left
    font-weight: normal
    vertical-align: middle


normalize-form()
    // 1. Correct color not being inherited.
    //    Known issue: affects color of disabled elements.
    // 2. Correct font properties not being inherited.
    // 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
    button,
    input,
    optgroup,
    select,
    textarea
        reset-font()
        color: inherit
        margin: 0

    // Address `overflow` set to `hidden` in IE 8/9/10/11.
    button
        overflow: visible

    // 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
    //    and `video` controls.
    // 2. Correct inability to style clickable `input` types in iOS.
    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"]
        -webkit-appearance: button

    input[type="checkbox"],
    input[type="radio"]
        box-sizing: border-box
        padding: 0

    input[type="number"]::-webkit-inner-spin-button
    input[type="number"]::-webkit-outer-spin-button
        height: auto

    input[type="search"]
        -webkit-appearance: textfield
        -webkit-box-sizing: content-box
        box-sizing: content-box

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration
        -webkit-appearance: none


initialize()

    // reset

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, ruby, section, summary,
    time, mark, audio, video
        reset-box-model()
        reset-font()

    ol, ul
        reset-list()

    table
        reset-table()

    caption, th, td
        reset-table-cell()

    blockquote, q
        quotes: none

    blockquote:before, blockquote:after,
    q:before, q:after
        // `content: ""` is unnecessary, the bug has been fixed 4 years:
        // http://bit.ly/1lEHB5m
        content: none

    body
        line-height: 1


    // normalize

    // Prevent modern browsers from displaying `audio` without controls.
    // Remove excess height in iOS 5 devices.
    audio:not([controls])
        display: none
        height: 0

    // Hide the `template` element in IE, Safari, and Firefox < 22.
    template
        display: none

    html
        font-size: unit($-base-font-size / 16 * 100, '%')
        font-family: $-base-font-family

        if $-prevent-text-size-adjust == true
            -webkit-text-size-adjust: 100%
            -ms-text-size-adjust: 100%

    // tap highlight color
    if $-prevent-tap-highlight == true
        a,
        nav
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
            -webkit-tap-highlight-color: transparent

    normalize-form()

