// retina
//
// @author  firede(firede@firede.us)
// @desc    retina helpers

physical-border-width($args...)
    $half-args = ()
    for $arg in $args
        if $arg == '_'
            push($half-args, $arg)
        else
            push($half-args, ($arg / 2))

    border-width: $args

    // 只有 iOS 8+ 支持 0.5px 边框，不需要做 dpi 兼容
    @media (min-resolution: 2dppx)
        border-width: $half-args
