// setting
// 
// @author  firede(firede@firede.us)
// @desc    default settings, you can overriding it by yourself.


// off stylus compatibility settings (ex: keyframes), autoprefixer do it.
vendors = official

// the unit using `px` value(100% == 16px)
$-base-font-size ?= 16px

// @see http://iosfonts.com
$-base-font-family ?= 'Helvetica Neue', sans-serif

// usually use `true` in hybrid app
$-prevent-user-select ?= false

// prevent iOS text size adjust after orientation change
$-prevent-text-size-adjust ?= true

// prevent tap highlight color
$-prevent-tap-highlight ?= true

// default image dppx (dots per px unit)
$-image-dppx ?= 2

// breakpoint slice
// default value: 0 400px 600px 800px 1050px
// slice number: <- 1 |  2  |  3  |  4  |  5 ->
$-breakpoint-slice ?= 0 400px 600px 800px 1050px
