// setting
// 
// @author  firede(firede@firede.us)
// @desc    default settings, you can overriding it by yourself.


// off stylus compatibility settings (ex: keyframes), autoprefixer do it.
vendors = official

// the unit using `px` value(100% == 16px)
$-base-font-size ?= 16px

// @see http://iosfonts.com
$-base-font-family ?= 'Helvetica Neue', sans-serif

// default image dppx (dots per px unit)
$-image-dppx ?= 2
