// shape
// 
// @author  firede(firede@firede.us)


// set width and height quickly
// default unit is `px`
size($values...)
    if length($values) == 1
        $values-unit = unit($values) == '' ? 'px' : unit($values)

        width: unit($values, $values-unit)
        height: unit($values, $values-unit)
    else
        $width-unit = unit($values[0]) == '' ? 'px' : unit($values[0])
        $height-unit = unit($values[1]) == '' ? 'px' : unit($values[1])

        width: unit($values[0], $width-unit)
        height: unit($values[1], $height-unit)


// triangle
triangle($direction = top, $size = 10px, $color = #333)
    size: 0

    if $direction == top
        border-left: $size solid transparent
        border-right: $size solid transparent
        border-bottom: $size solid $color
    else if $direction == bottom
        border-left: $size solid transparent
        border-right: $size solid transparent
        border-top: $size solid $color
    else if $direction == left
        border-top: $size solid transparent
        border-bottom: $size solid transparent
        border-right: $size solid $color
    else if $direction == right
        border-top: $size solid transparent
        border-bottom: $size solid transparent
        border-left: $size solid $color

