// 排版
//
// @author firede(firede@firede.us)


// 隐藏文字
// @see http://goo.gl/EglZN
hide-text()
    color: transparent
    font: 0 / 0 a
    text-shadow: none


// 省略
// 多行截断并省略，仅在 webkit 下支持
ellipsis($line = 1)
    overflow: hidden
    text-overflow: ellipsis

    if $line == 1
        white-space: nowrap
    else
        display: -webkit-box
        -webkit-line-clamp: $line
        -webkit-box-orient: vertical


// 清除浮动
// @see http://h5bp.com/q
clearfix()
    &:after,
    &:before
        content: ' '
        display: table
    &:after
        clear: both


// 字体
// 根据存在的字体类型，自动生成配置
font-face($font-family, $font-path, $font-weight = normal, $font-style = normal)

    if is-url($font-path)
        error('$font-path 只支持本地路径，请直接用 @font-face 写远程路径')

    // 字体类型与对应的format,顺序排列
    $font-formats = {
        'eot': 'embedded-opentype',
        'woff': 'woff',
        'woff2': 'woff2',
        'ttf': 'truetype',
        'svg': 'svg'
    }

    $usable-types = ()
    $src-array = ()
    $font-files = {}

    // 取出本地可用的字体
    for $type in keys($font-formats)
        $font-files[$type] = $font-path + '.' + $type

        if file-exists($font-files[$type])
            push($usable-types, $type)

    // 无任何可用字体则报错
    if length($usable-types) == 0
        error('没有找到 `' + $font-family + '` 的本地字体文件');

    // 合并字体src
    for $type in $usable-types
        if $type == 'eot'
            $src-url = $font-files[$type] + '?#iefix'
        else if $type == 'svg'
            $src-url = $font-files[$type] + '#' + $font-family
        else
            $src-url = $font-files[$type]
        $src-str = s('%s format(%s)', url($src-url), $font-formats[$type])
        push($src-array, $src-str)

    $str = join(', ', $src-array)

    @font-face
        font-family: $font-family
        if 'eot' in $usable-types
            src: url($font-files['eot'])
        src: unquote($str)
        font-weight: $font-weight
        font-style: $font-style
